server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: STUDENT-SERVICE
              uri: lb://STUDENT-SERVICE
              predicates:
                - Path=/api/students/**
            - id: SCHOOL-SERVICE
              uri: lb://SCHOOL-SERVICE
              predicates:
                - Path=/api/schools/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
